.card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .card-body {
    margin-top: 10px;
  }
  